<!DOCTYPE html>
<html>
    <head>
        <title>SpotifyParty</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    </head>
    <body>
        <script type="text/javascript">
            $(document).ready(function() {
                var socket = io.connect(null, {port: 5000, rememberTransport: false});

            	socket.on('connect', function() {
            		socket.send('User has connected!');
            	});

            	socket.on('search', function(msg) {
                    $("#songs").empty();
            		$("#songs").append(msg);
            		console.log('Received search results');
            	});

                socket.on('start_playback', function(msg) {
                    if ($("now_playing").length == 1) {
                        $("now_playing").empty()
                    }
                    $("body").append($("<p></p>").text("Now playing: " + msg));
                });

                socket.on('users', function(msg) {
                    $("#users").empty();
                    $("#users").append(msg);
            		console.log('Received users');
                });

            	$('#sendbutton').on('click', function() {
            		socket.emit('search', $('#query').val());
                    console.log('in search handler');
            	});

                $('#songs').on('click', 'li', function() {
                    console.log($(this).attr('value'));
                    socket.emit('start_playback', $(this).attr('value'));
                });
            });
        </script>
        <div id="now_playing">
        </div>
        <p>Queue:</p>
        <ul id="queue"></ul>
        <p>Users:</p>
        <ul id="users"></ul>
        <input type="text" id="query">
        <button id="sendbutton">Send</button>
        <ul id="songs"></ul>
    </body>
</html>
